.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: var(--bg);
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post-top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.post-avatar {
  margin-right: 10px;
}

.post-top-info > h3 {
  font-size: medium;
}

.post-top-info > p {
  font-size: small;
  color: gray;
}

.post-bottom {
  padding: 10px 25px;
}

.post-image > img {
  width: 100%;
}
